# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4eb875e59a59567cc155eae3fdb7222eafdbb4b49ac56767e52d985cfc1710d8f4ca39faf7a96770e2cc1d17e83d3226e10713c1fc0bb51f4f5647ac5325c16a

test:
  secret_key_base: 8fdf6fcb9abc1ee8868a8a83a4402bdc6dde871780f2fc753bbae1f6d29c1b34137832fd4b8afecdbd714ea7ea6b78227d54022e82916f4db648735422d64771

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
